<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="tns" value="pruebas"/>
    <add key="usuario" value="axisctg"/>
    <add key="clave" value="oracle456"/>
  </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
