body {
}
.modalBackground
{
    background-color: #d7d7d7;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.error
{
    background: #e67171;
    color: #ffffff;
    width: 60%;
    text-align:center;
    margin: 10px;
}
.success
{
    background: #9dd0ff;
    color: #ffffff;
    width: 60%;
    text-align:center;
    margin: 10px;
}