/* ajax__tab_xp-theme theme */
.linkedin .ajax__tab_header 
{
	font-size:11px;
	font-weight:bold;
    font-family:arial, sans-serif;
}
.linkedin .ajax__tab_active .ajax__tab_outer,
.linkedin .ajax__tab_header .ajax__tab_outer,
.linkedin .ajax__tab_hover .ajax__tab_outer
{
    margin-right:4px;
}
.linkedin .ajax__tab_active .ajax__tab_inner,
.linkedin .ajax__tab_header .ajax__tab_inner,
.linkedin .ajax__tab_hover .ajax__tab_inner
{
    margin-left:3px; /* offset the width of the left image */
}
.linkedin .ajax__tab_active .ajax__tab_tab,
.linkedin .ajax__tab_hover .ajax__tab_tab,
.linkedin .ajax__tab_header .ajax__tab_tab
{
	margin-right:0px;	
	padding:8px 23px 8px 20px;
}
.linkedin .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding: 10px;
}


/* BLUE */

.linkedin-blue .ajax__tab_header 
{
	color:#fff;
}
.linkedin-blue .ajax__tab_outer
{
    background:url(../images/ajaxTabs/blue_left.gif) no-repeat 0px 0px;
}
.linkedin-blue .ajax__tab_inner
{
    background:url(../images/ajaxTabs/blue_right.gif) no-repeat 100% 0px;
}
.linkedin-blue .ajax__tab_hover .ajax__tab_outer
{
    background:url(../images/ajaxTabs/blue_left.gif) no-repeat 0px -150px;
}
.linkedin-blue .ajax__tab_hover .ajax__tab_inner
{
    background:url(../images/ajaxTabs/blue_right.gif) no-repeat 100% -150px;
    cursor: pointer;
}
.linkedin-blue .ajax__tab_active .ajax__tab_outer
{
    background:url(../images/ajaxTabs/blue_left.gif) no-repeat 0px -300px;
}
.linkedin-blue .ajax__tab_active .ajax__tab_inner
{
    background:url(../images/ajaxTabs/blue_right.gif) no-repeat 100% -300px;
}
.linkedin-blue .ajax__tab_body 
{
	border:solid 2px #4498c2;	
}
