html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    border: 0pt none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0pt;
    outline-color: invert;
    outline-style: none;
    outline-width: 0pt;
    padding: 0pt;
    vertical-align: baseline;
}
body
{
    background: #FFFFFF;
    font-size: 12px;
    font-family: arial, sans-serif;
}
table
{
    border-collapse: separate;
    border-spacing: 0pt;
    margin: 40px;
}

a
{
    display: block;
    width: 118px;
    height: 28px;
    text-align:center;
    background: url('../images/btnPrintV2.png') no-repeat; border: none; text-transform: capitalize;
    color: #fff; font-weight: bold; text-decoration: none; padding: 6px 0 0 8px;
}

a:hover
{
    background: url('../images/btnPrintOverV2.png') no-repeat;
}
