.twoColumnsBlock 
{
    min-width: 20%;
    margin: 5px;
    padding: 0;
    float: left;
}

#block-m-gray{ background: #f0f0f0; border: #c8c8c8 solid 1px; padding: 10px; margin: 10px; }

.gridTitle
{
    cursor: pointer;
    padding: 7px 0 2px 0;
    text-align: center;
    background: url(../images/bgTitleGrid.png) no-repeat 0 0;
}

.gridTitle:hover
{
    background: url(../images/bgTitleGrid.png) no-repeat 0 -32px;
}

.gridTitle:focus
{
    background: url(../images/bgTitleGrid.png) no-repeat 0 -32px;
}

.viewPieChartBtnMdm
{
    cursor: pointer;
    padding: 7px 5px 7px 0;
    margin: 10px 0;
    width: 210px;
    min-width: 210px;
    background: url(../images/bgViewPieChart.png) no-repeat 0 0;
}

.viewPieChartBtnMdm:hover
{
    background: url(../images/bgViewPieChart.png) no-repeat 0 -32px;
}

.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }  

input.inputDate {
	border: 1px solid #999;
	padding: 4px;
	border-bottom-color: #ddd;
	border-right-color: #ddd;
	width: 65px;
}