<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="base" value="IMAGENES"/>
		<add key="usuario" value="USRWEB2"/>
		<add key="clave" value="NHU56tgb"/>-->
		<add key="base" value="PRTRANSITO"/>
    <add key="usuario" value="AXISCTG"/>
    <add key="clave" value="AXISCTG"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="Oracle.DataAccess, Version=10.1.0.400, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="None"/>
		<webServices>
			<protocols>
				<remove name="HttpGet"/>
				<remove name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>
