/************/
/*  GLOBAL  */
/************/

/* NON-HEADER */
*{padding:0; margin:0;}
 body { font-size:67%; font-family:verdana, arial, sans-serif; background-color: #ffffff; } /*Font-size: 1.0em = 10px when browser default size is 16px*/
.page-container {width:900px; margin:0px auto; margin-top:10px; margin-bottom:10px; border:solid 1px rgb(150,150,150); font-size:1.0em;}
.main {clear:both; width:900px; padding-bottom:30px; background:transparent url(../img/bg_main_withnav.jpg) top left repeat-y;}
.main1 {clear:both; width:900px; padding-bottom:30px; background:transparent url(../img/bg_main_withoutnav.jpg) repeat-y;}
.main3 {clear:both; width:900px; padding-bottom:30px; background:transparent url(../img/bg_main_withoutnav.jpg) top left repeat-y;}
.main-navigation {display:inline ; float:left; width:200px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.main-content {display:inline; float:left; width:440px; margin:0 0 0 30px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.main-content1 {display:inline; float:left; text-align:left; width:840px; margin:20px 15px 10px 15px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.main-content2 {display:inline;  float:left; width:640px; margin:0 0 0 30px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.main-subcontent {display:inline; float:right; width:185px; margin:0 15px 0 0; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.main-subcontent3 {display:inline; float:left; width:185px; margin:0 0 0 15px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.footer {clear:both; width:900px; height:3.7em; padding:1.1em 0 0; background:rgb(225,225,225) url(../img/bg_foot.jpg) no-repeat; font-size:1.0em; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}

/* --- For alternative headers START PASTE here --- */

/* HEADER */
.header {width:900px; font-family:"trebuchet ms",arial,sans-serif;}
.header-top {width:900px; height:60px; background:rgb(240,240,240) url(../img/bg_head_top.jpg); overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.header-middle {width:900px; height:110px; background:rgb(230,230,230) url(../img/bg_head_middle.jpg); overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.header-middle_main-page {width:900px; height:110px; background:rgb(230,230,230)  overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.header-bottom {width:900px; height:30px; background:rgb(255,255,255) url(../img/bg_head_breadcrumbs.jpg) repeat-y;}
.header-breadcrumbs {clear:both; width:900px; padding:1.0em 0 1.5em 0; background:rgb(100,100,100) url(../img/bg_head_breadcrumbs.jpg) repeat-y;}

/********************/
/*  HEADER SECTION  */
/********************/
.sitelogo {width:60px; height:40px; position:absolute; z-index:1; margin:22px 0 0 20px; background:url(../img/bg_head_top_logo.jpg); }
.sitename {
	width:586px;
	height:37px;
	position:absolute;
	z-index:1;
	margin-left:20px;
	margin-top:15px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	/*left: 57px;
	top: 3px;*/
}
.sitename h1 {font-size:220%;}
.sitename h2 {margin:-4px 0 0 0; color:rgb(125,125,125); font-size:120%;}
.sitename a {text-decoration:none; color:rgb(125,125,125);}
.sitename a:hover {text-decoration:none; color:rgb(50,50,50);}

.nav0 {width:350px; position:absolute; z-index:2; margin:25px 0 0 0; margin-left:550px !important/*Non-IE6*/; margin-left:553px /*IE6*/;}
.nav0 ul {float:right; padding:0 20px 0 0;}
.nav0 li {display:inline; list-style:none;}
.nav0 li a {padding:0 0 0 3px;}
.nav0 a:hover {text-decoration:none;}
.nav0 a img {height:14px; border:none;}

.nav1 {
	width:350px;
	position:absolute;
	z-index:3;
	margin:45px 0 0 550px;
	top: 0px;
}
.nav1 ul {float:right; padding:0 15px 0 0; font-weight:bold;}	
.nav1 li {display:inline; list-style:none;}
.nav1 li a {display:block; float:left; padding:2px 5px 2px 5px; color:rgb(125,125,125) ; text-decoration:none; font-size:120%;}
.nav1 a:hover {text-decoration:none; color:rgb(50,50,50);}

.sitemessage {width:350px; height:120px; position:absolute; z-index:1; margin:20px 0 0 530px; color:rgb(234,239,247); /*xoverflow:visible !important /*Activate if Firefox print problems*/ overflow:hidden /*IE6*/;}
.sitemessage h1 {width:350px; text-align:right; font-size:230%;}
.sitemessage h2 {float:right; width:270px; margin:8px 0 0 0; text-align:right; line-height:100%; font-size:160%;}
.sitemessage h3 {float:right; width:270px; margin:10px 0 0 0; text-align:right; font-size:140%;}
.sitemessage h3 a {text-decoration:none; color:rgb(234,239,247);}
.sitemessage h3 a:hover {text-decoration:none; color:rgb(50,50,50);}

.nav2 {float:left; width:900px; border:none; background:rgb(220,220,220) url(../img/bg_head_bottom_nav.jpg) repeat-x; color:rgb(75,75,75); font-size:1.0em; font-size:115%;} /*Color navigation bar normal mode*/
.nav2 ul {list-style-type:none;}
.nav2 ul li {float:left; position:relative; border-right:solid 1px rgb(175,175,175); }
.nav2 ul li ul {display:none; border:none;}
.nav2 ul li ul {margin-left:-30px; padding:0 30px 30px 30px; background:url(../img/bg_head_bottom_nav_hover.gif) top center;} /*Sticky hover zones*/
.nav2 ul li a {float:left; display:block; height:3.1em; line-height:3.1em; padding:0 14px 0 14px; text-decoration:none; font-weight:bold; color: rgb(100,100,100);}
.nav2 ul li:hover {width:auto;}
.nav2 table {position:absolute; z-index:999; top:0; left:0; border-collapse:collapse;}

/*Non-IE6*/
.nav2 ul li:hover a {background-color:rgb(188,208,225); text-decoration:none;} /*Color main cells hovering mode*/
.nav2 ul li:hover ul {display:block; width:10.0em; position:absolute; z-index:998; top:3.0em; margin-top:0.1em; left:0;}
.nav2 ul li:hover ul li ul {display: none;}
.nav2 ul li:hover ul li a {display:block; width:10.0em; height:auto; line-height:1.3em; margin-left:-1px; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(227,227,227); font-weight:normal; color:rgb(50,50,50);} /*Color subcells normal mode*/
.nav2 ul li:hover ul li a:hover {background-color:rgb(188,208,225); text-decoration:none;} /*Color subcells hovering mode*/

/*IE6*/
.nav2 ul li a:hover {background-color:rgb(188,208,225); text-decoration:none;} /*Color main cells hovering mode*/
.nav2 ul li a:hover ul {display:block; position:absolute;z-index:997; top:3.1em; top:3.0em; left:0; margin-top:0.1em;}
.nav2 ul li a:hover ul li a {display:block; width:10.0em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(237,237,237); font-weight:normal; color:rgb(50,50,50);} /*Color subcells normal mode*/
.nav2 ul li a:hover ul li a ul {visibility:hidden; height:0px; width:0px; position:absolute; z-index: 997;}
.nav2 ul li a:hover ul li a:hover {background-color:rgb(188,208,225); text-decoration:none;} /*Color subcells hovering mode*/

.header-breadcrumbs ul {float:left; width:560px; list-style:none; padding:0 0 0 15px; font-family:verdana,arial,sans-serif;}
.header-breadcrumbs ul li {display:inline; padding:0 0 0 10px; background:transparent url(../img/bg_bullet_arrow.gif) no-repeat 0 50%; font-weight:bold; color:rgb(125,125,125); font-size:100%;}
.header-breadcrumbs ul a {color:rgb(70,122,167); text-decoration:none;}
.header-breadcrumbs ul a:hover {color:rgb(42,90,138); text-decoration:underline;}

.header-breadcrumbs .searchform {float:right; width:285px; padding:0 17px 0px 0px !important /*Non-IE6*/; padding:0 12px 0px 0px /*IE6*/;}
.header-breadcrumbs .searchform form fieldset {float:right; border:none;}
.header-breadcrumbs .searchform input.field {width:10em; padding:0.2em 0; border:solid 1px rgb(200,200,200); font-family:verdana, arial, sans-serif; font-size:110%; }
.header-breadcrumbs .searchform input.button { padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px; text-align:center; font-family:verdana, arial, sans-serif; color:rgb(150,150,150); font-size:110%;}
.header-breadcrumbs .searchform input.buttonlong {padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px; text-align:center; font-family:verdana, arial, sans-serif; color:rgb(150,150,150); font-size:110%;}

.header-breadcrumbs .searchform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}

/* --- For alternative headers END PASTE here --- */

/******************/
/*  MAIN SECTION  */
/******************/

/* MAIN NAVIGATION */
.main-navigation .round-border-topright {width:10px; height:10px; position:absolute; z-index:100; margin:0 0 0 190px; background:url(../img/bg_corner_topright.gif) no-repeat;}

/* MAIN CONTENT */

.main-content .searchform, .main-content1 .searchform, .main-content2 .searchform {float:left; width:485px; padding:0 0px 20px 0px !important /*Non-IE6*/; padding:0 20px 0px 0px /*IE6*/;}
.main-content .searchform form fieldset, .main-content1 .searchform form fieldset, .main-content2 .searchform form fieldset {float:right; border:none;}
.main-content .searchform input.field, .main-content1 .searchform input.field, .main-content2 .searchform input.field {width:30em; padding:0.2em 0; border:solid 1px rgb(200,200,200); font-family:verdana, arial, sans-serif; font-size:110%; background-color:White; }
.main-content .searchform input.button, .main-content1 .searchform input.button, .main-content2 .searchform input.button { padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px; text-align:center; font-family:verdana, arial, sans-serif; color:rgb(150,150,150); font-size:110%;}
.main-content .searchform input.button:hover, .main-content1 .searchform input.button:hover, .main-content2 .searchform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}
.main-content1 .registerform { vertical-align:top; text-align:left; padding: 15px 20px 10px 20px; background: rgb(230,230,230); width: 420px; }
.main-content1 .registerform .label { margin-left:10px; font-size: 100%;   }
.main-content1 .registerform .field {margin: 0px 10px 10px 10px;	border: 1px Solid #c0c0c0;	background: #ffffff; font-size:110%; }
.main-content1 .registerform .button {margin: 0px 0px 20px 0px; text-align:center;  
    cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
background:url(../img/formbg.gif) repeat-x left top;}

.main-content1 .registerform .button_horiz {margin: 0px; text-align:center;  
    cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 0px;
background:url(../img/formbg.gif) repeat-x left top; height:20px;}

.modalBackground {
    background-color:#414141;
    filter:alpha(opacity=70);
    opacity:0.7;
}


/***************************/
/* .NET */

.column_small { float:left;  margin: 5px; }
.column_medium { float: none; margin: 5px;}
.button {margin: 0px 0px 20px 90px; text-align:center; cursor:pointer; border:outset 1px #ccc; background:#999; color:#666; font-weight:bold; padding: 1px 2px; background:url(../img/formbg.gif) repeat-x left top;}
.button2 {width:5.0em; margin:0px 5px 5px 0; padding:1px; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:110%;}
.button2:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}
.appform {width:418px;  margin:2.0em 0 0 0; padding:10px 10px 0 10px; border:solid 1px rgb(200,200,200); background-color:rgb(240,240,240);}
h2 {clear:both; margin:0.5em 0 0 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(80,80,80); font-weight:normal; font-size:170%;}
h3 {clear:both; margin:0.2em 0 0 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(80,80,80); font-weight:bold; font-size:120%;}
.h1 {clear:both; margin:0.5em 0 0 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(80,80,80); font-weight:bold; font-size:150%;}
.h2 {clear:both; margin:0.5em 0 0 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(80,80,80); font-weight:normal; font-size:130%;}
.TabArea {font-size: x-small; border-left: 1px solid #c9c9c9; border-bottom: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9; border-top:1px solid #c9c9c9; }
select.combo3 { width:360px; padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:90%;}
select.combo2 { padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:90%;}
/** for gridviews **/
.mGrid { 
    width: 100%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}
.mGrid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.mGrid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(../img/grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.mGrid .alt { background: #fcfcfc url(../img/grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(../img/grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

/** para el menu **/
.Menu
{
    margin: 20px 0px 0px 0px;
}
.primaryStaticMenu
{
   color: White;
    background: #f7f2ea url(../img/menu_head.png) repeat-x top; 
    font-variant: small-caps;
    font-size: 112%;
    font-weight: bold;
}
.primaryStaticMenuItem
{
   background: #f7f2ea url(../img/menu_head.png) repeat-x top; 
   border-width: 0px;
   border-color: #efefef #aaab9c #ccc #efefef; 
   border-style: solid;
   color: #777777;
}
.primaryStaticHover
{
   color: #800000;
}

.primaryDynamicMenu
{   
   background-color: #f7f2ea;               
   border-bottom: solid 1px #ccc;
}  
.primaryDynamicMenuItem
{
   background-color: #f7f2ea; 
   color: #777;
   padding: 2px 4px 2px 6px;
   border-width: 1px;
   border-color: #f7f2ea #aaab9c #f7f2ea #efefef;  
   border-style: solid;         
}    
.primaryDynamicHover
{
   color: #800000;
   background: #f0e7d7;
}          